<!DOCTYPE html>
<html th:replace="base_template::root (~{::title}, ~{::#content}, _, ~{::meta})">
    <head>
        <title>places to go | Seriously Local Japan</title>
        <meta th:fragment="meta" name="description" content="Places to go in Kanto area, Japan"/>
        <meta th:fragment="meta" property="og:url" content="https://seriously-local.com/place_article" />
        <meta th:fragment="meta" property="og:type" content="website" />
        <meta th:fragment="meta" property="og:title" content="index" />
        <meta th:fragment="meta" property="og:description" content="Places to go in Kanto area, Japan" />
        <meta th:fragment="meta" property="og:site_name" content="Seriously Local Japan" />            
    </head>
    <body>
        <div id="content">
            <div class="articleList widthFill">
                <a th:each="article: ${articles}" th:href="@{/place_article/{id}(id=${article.id})}" class="widthFill flexRowAlignLeft articleList-el">
                    <img th:src="${article.thumbnail.thumbnailUrl}" class="roundBorder articleList-el-image"/>

                    <div class="heightFill" style="position: relative;">
                        <div>
                            <span class="article-tag" th:each="tag: ${article.tags}" th:text="${tag.name}"> 
                            </span>
                        </div>
                        
                        <h2 th:text="${article.title}" class="articleList-el-title"></h2>

                        <div class="articleList-el-metadata">
                            <span class="material-icons md-9">room</span>
                            <span th:text="${article.prefecture}"></span>
                            &nbsp;
                            <span class="material-icons md-9">update</span>
                            <span th:text="${#calendars.format(article.updatedAt, 'dd MMMM yyyy')}"></span>
                        </div>

                        <div class="articleList-el-shortDescription" th:text="${article.shortDescription}">
                        </div>

                        <div style="position: absolute; bottom: 0; height: 30px; width: 100%; background: linear-gradient(to top, white, rgba(255, 255, 255, 0));"></div>

                    </div>

                </a>
            </div>
        </div>
    </body>
</html>